################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mitrasphere/v16
/.vs/slnx.sqlite
*.json
